/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

button {
	color: gray;
	background-color: transparent;
	border: none;
}

.callout {
	height: 15px; 
	width: 10px;
}

.navbar-inverse {
	border: 0px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    background-color: #F7F7F7;
    box-shadow: 0px;
}


.navbar-brand {
	float:none;
	padding-left: 40px;
}

.chat-bubble {
	padding: 10px;
}

.message-input {
	padding: 0px;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}